<mat-toolbar color="accent">
  <h1>Doc Beam</h1>
</mat-toolbar>
<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxFlexFill fxLayoutAlign="center center">

  <mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
      Please login
    </mat-card-title>

    <mat-card-content>
      <form #f="ngForm" novalidate (ngSubmit)="login(f)">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email"
              #email="ngModel" email>
            <mat-error *ngIf="!email.valid">Please enter a valid email</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput type="password" class="form-control" id="password" required name="password" placeholder="Password"
              ngModel>
          </mat-form-field>

        </div>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>
        <button mat-raised-button color="primary" [disabled]="f.invalid || isRequesting" class="login-button" type="submit">Login</button>
      </form>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <div *ngIf="isRequesting">
        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>