
.input-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    //font-family: Roboto, sans-serif;    
}    
    
mat-card {    
    max-width: 100%;    
    margin: 10px auto;    
    text-align: center;    
}    


mat-toolbar-row {    
    justify-content: space-between;    
}    
    
mat-radio-button:nth-child(2){
    margin-left: 10px;
}

.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    
