<mat-toolbar color="accent">
    <h1>Doc Beam</h1>
</mat-toolbar>
<div fxLayout="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">

    <mat-card fxLayout="column" fxFlex="20%;" fxFlex.xs="100%" >
        <!-- Title of an Card -->
        <mat-card-title>
            Signup
        </mat-card-title>

        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="4px">
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="First Name" [(ngModel)]='customer.firstName'>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Last Name" [(ngModel)]='customer.lastName'>
                </mat-form-field>
            </div>
            <mat-form-field class="input-full-width">
                <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                    [(ngModel)]='customer.location'></textarea>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Email" [(ngModel)]='customer.identity.userName'>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput type='password' placeholder="Password" [(ngModel)]='customer.identity.password'>
            </mat-form-field>
            <div style="margin-top: 20px;">
                <button mat-raised-button color="primary" (click)='registerUser()' class="input-full-width mat-elevation-z4">Continue</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>