
@import '~@angular/material/theming';

.input-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    

mat-card {    
    max-width: 600px;
    min-width: 380px;    
    margin: 10px auto;    
}    
 

mat-toolbar-row {    
    justify-content: space-between;    
}    
    
mat-radio-button:nth-child(2){
    margin-left: 10px;
}

mat-raised-button {
    width: 100%;
    @include mat-elevation(5);
}

.content-center {    
    text-align: -webkit-center;    
}    
